p {
  font-size: 1.2rem;
}

li {
  font-size: 1.1rem;
}

@media (max-width: 991.98px) {
  .sekcija3 {
    height: calc(100vw / 1.5);
  }
}
@media (min-width: 992px) {
  .sekcija3 {
    height: calc(100vw / 4.5);
  }
  #sekcija1 h1 {
    font-size: 4rem;
  }
}

@media (min-width: 576px) {
  #sekcija1 {
    position: absolute;
    transform: translate(-50%, -50%) !important;
    left: 50% !important;
    top: 50% !important;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  #sekcija1 h1 {
    font-size: 3rem;
  }
}

.text-container {
  position: relative;
  height: 100%;
}

.text {
  position: absolute;
  bottom: 20%;
  left: 0;
  right: 0;
  text-align: center;
  transition: transform 0.5s ease-in-out;
}

.col-lg-4:hover .text {
  transform: translateY(-150%);
}

.bg-image {
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.7s ease;
}

.bg-image:hover {
  background-color: rgba(0, 0, 0, 0.8);
  transform: scale(1.03);
}

.font {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, sans-serif;
}
