.text-container {
  position: relative;
  height: 100%;
}

.text {
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
  text-align: center;
  transform: translateY(50%);
  transition: transform 0.3s ease-in-out;
}

.col-lg-4:hover .text {
  transform: translateY(-250px);
}

.bg-image {
  transition: 0.7s ease;
}

.bg-image:hover {
  background-color: rgba(0, 0, 0, 0.4);
  transform: scale(1.03);
}
